@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

.contenedor
{
	max-width: 1440px;
	margin: auto;
}

.menu {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
    	.icono
    	{
    		font-size: 40px;
    		color: grey;
    		background: #D7CCC8;
    		height: 50px;
    		width: 50px;
    		border-radius: 50%;
    		text-align: center;
    		line-height: center;
    		margin-left: 50px;
    		padding-top: 3px;
    		border: 1px solid #FFC107;


    	}
    

	    ul 
	    {
	        display: flex;
	        flex-flow: row nowrap;
	        justify-content: center;
	        align-items: center;
	        opacity: 0;
	        position: absolute;
	        margin: 0px;
	        transition: all 2s ease-in;
	       	
	       

		       li 
		       {
		        list-style: none;
		        padding-right: 20px;

	           		a 
			        {
			            text-decoration: none;
			            color: #004D40;
			            font-size: 20px;


			        }
	        	}

	        	.uno
	        	{
	        		margin-right :40px;
	        	}
	    }

   &:hover {


        ul {
            opacity: 1;
            transition: all 2s ease-in;
            


        }
    }
}


