body
{
	text-align: center;
}
.contenedor
{
	max-width: 1400px;
	margin: auto;
}


.logo
{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background: grey;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	
}

section
{
	height: 400px;
	width: 400px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}


h1
{
	padding-left: 35px;
	animation-duration: 3s;
	animation-name: animacionuno;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	
}


@keyframes animacionuno
{
	from { color: black; }

	to { color: red; }
}

.tipo
{
	animation-name: animaciondos;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes animaciondos
{
	from { color:white; }

	to   { color: orange; }

}

.redondo
{
	animation-name: animaciontres;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

}


@keyframes animaciontres

{
	from  { background:grey; }

	to 	{ background: black; }

}


.redondel
{
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background: #6385ed; /* Old browsers */
	background: #6385ed; /* Old browsers */
	background: -moz-linear-gradient(top, #6385ed 16%, #ffa73d 45%, #ffa73d 55%, #ff7c00 64%, #ff7c00 64%, #0408e5 67%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #6385ed 16%,#ffa73d 45%,#ffa73d 55%,#ff7c00 64%,#ff7c00 64%,#0408e5 67%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #6385ed 16%,#ffa73d 45%,#ffa73d 55%,#ff7c00 64%,#ff7c00 64%,#0408e5 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6385ed', endColorstr='#0408e5',GradientType=0 ); /* IE6-9 */
	margin-left: 200px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	animation-name: fondo;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}


.sol
{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: yellow;
	animation-name: solcito;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes solcito
{
	from { 
		margin-bottom:0px; 
		background: #f1da36; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #f1da36 1%, #f2712b 97%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #f1da36 1%,#f2712b 97%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #f1da36 1%,#f2712b 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#f2712b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	to { margin-bottom: 300px; 
			background: yellow;
	 }
}

@keyframes fondo 
{

	from { background: -moz-linear-gradient(top, #6385ed 16%, #ffa73d 45%, #ffa73d 55%, #ff7c00 64%, #ff7c00 64%, #0408e5 67%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #6385ed 16%,#ffa73d 45%,#ffa73d 55%,#ff7c00 64%,#ff7c00 64%,#0408e5 67%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #6385ed 16%,#ffa73d 45%,#ffa73d 55%,#ff7c00 64%,#ff7c00 64%,#0408e5 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6385ed', endColorstr='#0408e5',GradientType=0 ); /* IE6-9 */  }


	to 	 { background: #6385ed; /* Old browsers */
background: -moz-linear-gradient(top, #6385ed 42%, #6385ed 56%, #0408e5 67%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #6385ed 42%,#6385ed 56%,#0408e5 67%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #6385ed 42%,#6385ed 56%,#0408e5 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6385ed', endColorstr='#0408e5',GradientType=0 ); /* IE6-9 */
 }

}



